*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --mainFont:"DM Sans", sans-serif;
    --montserrat: "Montserrat", sans-serif;
    --whiteText: #FFFFFF;
    --heroBg: #057ACB;
    --headerBg: #FFFFFF14;
    --headerButtonColor: #1875F0;
    --offWhite : #DFE0E5;
    --gray : #FFFFFF33;
    --theblack: #060807;
    --lightGray:#808080;
   


}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 7092px;

}

main {
    height: calc(7092px-434px);
    width: 100%;
}


#hero {
    height: 891px;
    width: 100%;
    background-color: var(--heroBg);
    padding: 0  6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
   
}

header {
    height: 69.08px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    border: 1px solid var(--headerBg);
    padding: 10px 16px;
    position: fixed;
    top: 20px;
    opacity: 1; 
    background-color: var(--headerBg)
   

}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-family: var(--mainFont);
    font-size: 16px;
    font-weight: 500;
    color: var(--whiteText);
}

nav ul li a {
text-decoration: none;
font-family: var(--mainFont);
font-weight: 500;
font-style: Medium;
font-size: 0.9rem;
line-height: 100%;
letter-spacing: -3%;
color:var(--whiteText) ;


}

header button{
width: 145px;
height: 48px;

opacity: 1;
border-radius: 3rem;
padding: 8px 16px;
border: none;
background-color: var(--headerButtonColor);
font-family: var(--mainFont);
font-weight: 700;
font-style: Bold;
font-size: 14px;
line-height: 100%;
letter-spacing: -4%;
text-align: center;
color: var(--whiteText);



}

.hero-main {
    height: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 2.5rem 12rem;
    position: relative;
   
    
}

.hero-main h1 {
font-family:var(--mainFont);
font-weight: 500;
font-style: Medium;
font-size: 4rem;
line-height: 110.00000000000001%;
letter-spacing: -4%;
text-align: center;
color: var(--whiteText);


}

.hero-main p {
font-family:var(--mainFont);
font-weight: 500;
font-style: Medium;
font-size: 18px;
line-height: 160%;
letter-spacing: -3%;
text-align: center;
color: var(--offWhite);


} 

.hero-btn {
    display: flex;
    gap: 1rem;
}

.hero-btn button:first-child {
    width: 160px;
    height: 42px;
    background-color:var(--whiteText);
    border: none;
    border-radius: 3rem;
    padding: 14px 20px;
    font-family: DM Sans;
   font-weight: 700;
  font-style: Bold;
  font-size: 0.9rem;
  line-height: 100%;
  letter-spacing: -4%;
  text-align: center;
  color: var(--heroBg);
}

.hero-btn button:last-child {
width: 152px;
height: 42px;
opacity: 1;
border-width: 1px;
border-radius: 48px;
padding: 14px 20px;
background-color: var(--gray);
border: 1px solid var(--gray);
font-family: DM Sans;
font-weight: 700;
font-style: Bold;
font-size: 0.9rem;
line-height: 100%;
letter-spacing: -4%;
text-align: center;
color: var(--offWhite);

}

.hero-circle img {
/* width: 451px;
height: 115px; */
border-radius: 1px;
border-width: 2.2px;
opacity: 1;
position: absolute;
top: 0;
left: 25;
}



.testimonials {
width: 100%;
height: 125px;
border-radius: 40px;
border-width: 1px;
opacity: 1;
gap: 70px;
background: linear-gradient(90deg, rgba(15, 97, 206, 0.7) 0%, rgba(11, 81, 148, 0.7) 100%);
border: 1px solid var(--whiteText);
display: flex;
padding: 1.4rem 4rem;
justify-content: center;

}

.testimonials-item {
    flex: 1;
    
}

.testimonials-item h3 {
font-family:var(--mainFont);
font-weight: 500;
font-style: Medium;
font-size: 50px;

line-height: 110.00000000000001%;
letter-spacing: -2%;
text-align: center;
color: var(--whiteText);

}


.testimonials-item p {
font-family:var(--mainFont);
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 110.00000000000001%;
letter-spacing: -2%;
text-align: center;
color: var(--offWhite);

}

.social {
  width: 100%;
  height: 195px;
  opacity: 1;
  background-color: var(--theblack);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social-item {
  display: flex;
  gap: 5rem;
  

}

.social img {
  width: 120px;
  height: 36.234375px;
  top: 121px;
  left: 350px;
  opacity: 1;
  mix-blend-mode: Luminosity;
  padding-bottom: 15px;
}
.text {
  font-family: var(--MainFont);
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 30px;
  color: var(--lightGray);
}
  
#hero3 div {
  width: 100%;
height: 957px;
opacity: 1;
background-color:var(--headerBg);

}

#hero3 div .who {
  width: 100%;
height: 255px;
gap: 16px;
opacity: 1;
background-color:var(--whiteText);
padding-top: 70px;

}

.who {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who h1 {
  font-family: var(--mainFont);
font-weight: 500;
font-style: Medium;
font-size: 36px;
line-height: 100%;
letter-spacing: -3%;


}

.who p {
  font-family: var(--mainFont);
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 160%;
letter-spacing: -2%;
text-align: center;
padding: 0 160px ;
color: var(--lightGray);
}
.who button {
width: 219px;
height: 42px;
gap: 8px;
opacity: 1;
border-radius: 48px;
border-width: 1px;
padding: 14px 20px;
border: 1px solid var(--gray);
backdrop-filter: blur(4px);
background-color: var(--heroBg);
color:var(--offWhite);
border: none
;


}

#hero3 .who-items {
width: 100%;
height: 563px;
gap: 25px;
opacity: 1;
display: flex;
margin-top: 20px;
margin-left: 60px;


padding-top: 0px;
}

.who-items-box1, .who-items-box2{
  flex: 1;
}


.who-items-box1{
  display: flex;
  flex-direction: column;
  gap: 37px;
}


.who-items .img1 {
  width: 623px;
height: 222.00000000000014px;
opacity: 1;
border-radius: 10px;
padding-left: 50px;

}

.who-items .img2 {
  width: 623px;
height: 285.0000000000000px;
opacity: 1;
border-radius: 10px;
padding-left: 50px;

}

.who-items .img3 {
  width: 432px;
height: 548px;
opacity: 1;
border-radius: 10px;



}